<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Universities</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<div class="title">
    <h1>Universities</h1>
</div>
<a href="{% url 'university-create' %}">Add</a>
<ol>
    {% for university in universities %}
        <li>{{ forloop.counter }}. <a href="{% url 'university' university.id %}">{{ university.short_name }}</a></li>
    {% endfor %}
</ol>

</body>

</html>
