<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create student</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="title">
    Create student
</div>
<div>
    <a href="{% url 'index' %}">Home</a>
</div>
<form id="student-form" action="{% url 'student-edit' student.university_id student.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="full-name">Full name:</label><br>
        <input type="text" id="full-name" name="full_name" value="{{ student.full_name }}"><br>
        <label for="birth-date">Birth date:</label><br>
        <input type="date" id="birth-date" name="birth_date" value="{{ student.birth_date.isoformat }}"><br>
        <label for="university-id">University:</label><br>
        <select id="university-id" name="university_id" form="student-form" selected="{{ student.university_id }}">
            {% for university in universities %}
                <option value="{{ university.id }}">{{ university.short_name }}</option>
            {% endfor %}
        </select>
        <label for="year-entered">Year entered:</label><br>
        <input type="number" id="year-entered" name="year_entered" value="{{ student.year_entered }}"><br>
        <input type="submit" value="Edit">
    </fieldset>
</form>
</body>
</html>